version: '3'
services:
    apache:
        container_name: ipssi_apache
        hostname: ipssi_apache
        build: ./containers/apache
        ports: 
            - '80:80'
            - '443:443'
        networks: 
            - ipssi-lamp
        volumes:
            - './src/:/usr/local/apache2/htdocs'
    php: 
        container_name: ipssi_php
        hostname: ipssi_php
        build: ./containers/php
        networks: 
            - ipssi-lamp
        volumes:
            - './src/:/var/www/html'
    mysql:
        container_name: ipssi_mysql
        hostname: ipssi_mysql
        image: mysql:5.7
        ports: 
            - '3306:3306'
        environment: 
            - MYSQL_ROOT_PASSWORD=root
        networks: 
            - ipssi-lamp

networks:
    ipssi-lamp: 